// Footer
.layout__footer
  padding: 1rem
.footer__nav
  .nav__list
    gap: 3rem
    display: flex
    justify-content: center
  .nav__item
    &:hover,
    &.nav__item_active
      .nav__link
        color: $colorPrimary1000
      .nav__ico
        fill: $colorPrimary1000
  .nav__link
    color: $colorPrimary500
    gap: .5rem
    display: flex
    flex-direction: column
    align-items: center
    @include transition
  .nav__ico
    fill: $colorPrimary500
    width: 1.25rem
    height: 1.25rem
    @include transition
  .nav__text
    font-size: .625rem
    line-height: .75rem
    font-weight: 500