// Header
.layout__header
  padding: 1rem
  display: flex
  align-items: center
// logo
.header__logo
  .logo__text
    color: $colorPrimary500
    font-size: 1.25rem
    line-height: 1.5rem
    font-weight: 600
// actions
.header__actions
  margin-left: auto
  .actions__list
    gap: 1.25rem
    display: flex
  .actions__item
    width: 1.5rem
    height: 1.5rem
    flex-shrink: 0
    cursor: pointer
    &:hover
      .actions__ico
        fill: $colorTertiary200
  .actions__ico
    fill: $colorPrimary500
    @include transition






