// Layoyt
.layout
  height: 100vh
  display: flex
  flex-direction: column
  @include transition

  .layout__main
    flex-grow: 1
    padding: 2rem 1rem 1rem
    overflow: hidden
    overflow-y: auto

