// modals
.layout__modal
  position: fixed
  top: 0
  left: 0
  z-index: 4
  width: 100%
  height: 100%
  padding: 1rem
  background: $colorSecondary200
  display: flex
  justify-content: center
  align-items: flex-end
.modal__layout
  cursor: auto
  width: 100%
  max-height: 100%
  height: auto
  padding: 1.5rem 1rem
  display: flex
  flex-direction: column
  background-color: $colorSecondary300
  border-radius: .5rem
  position: relative
  @include transition
// modal header
.modal__header
  display: flex
  align-items: center
  justify-content: center
  &:not(:last-child)
    padding-bottom: .75rem
    margin-bottom: 1.5rem
    border-bottom: 1px solid $colorPrimary50
//modal action
.modal__action
  width: 1rem
  height: 1rem
  top: 1rem
  right: 1rem
  position: absolute
  display: flex
  justify-content: center
  align-items: center
  .action__ico
    width: 100%
    height: 100%
    fill: $colorPrimary300
// modal main
.modal__main
  overflow: hidden
  overflow-y: auto