// Notifications
.layout__notifications
  position: fixed
  left: 0
  top: 2.5rem
  padding: 1rem
  width: 100%
  max-height: calc(100vh - 5rem)
  overflow: hidden
  overflow-y: auto
  z-index: 3
  .notifications__list
    gap: .25rem
    display: flex
    flex-direction: column
  .notifications__item
    padding: 1rem
    border-radius: .5rem
    background-color: $colorSecondary300
    border: 1px solid transparent
    gap: .75rem
    display: flex
    align-items: center
    // primary
    &.notifications__item_primary
      border-color: $colorPrimary200
      .notifications__ico
        fill: $colorPrimary1000
      .notifications__text
        color: $colorPrimary1000
    // secondary
    &.notifications__item_secondary
      border-color: $colorTertiary100
      .notifications__ico
        fill: $colorTertiary100
      .notifications__text
        color: $colorTertiary100
    // tertiary
    &.notifications__item_tertiary
      border-color: $colorTertiary200
      .notifications__ico
        fill: $colorTertiary200
      .notifications__text
        color: $colorTertiary200
    // fourth
    &.notifications__item_fourth
      border-color: $colorTertiary300
      .notifications__ico
        fill: $colorTertiary300
      .notifications__text
        color: $colorTertiary300
  .notifications__ico
    width: 1.5rem
    height: 1.5rem
    flex-shrink: 0
  .notifications__text
    font-size: 1rem
    line-height: 1.25rem
    font-weight: 500



















