.layout__section
  min-height: 100%
  display: flex
  flex-direction: column
  &.section_secondary
    justify-content: center
  &.section_tertiary
    .section__main
      margin-top: auto
    .section__footer
      margin-top: 0
  .section__header
    display: flex
    flex-direction: column
    align-items: center
    text-align: center
    &:not(:last-child)
      margin-bottom: 3rem
    .section__ico
      width: 2.5rem
      height: 2.5rem
      &:not(:last-child)
        margin-bottom: 1rem
    .section__title
      &:not(:last-child)
        margin-bottom: .75rem
    .section__text
      color: $colorPrimary800
  .section__main
    gap: 1.5rem
    display: flex
    flex-direction: column
    &:not(:last-child)
      margin-bottom: 1rem
    &.section__main_secondary
      gap: 3rem
  .section__footer
    display: grid
    gap: .25rem
    margin-top: auto