// primary color
$colorPrimary20: rgba(255,255,255,.02)
$colorPrimary50: rgba(255,255,255,.05)
$colorPrimary100: rgba(255,255,255,.1)
$colorPrimary200: rgba(255,255,255,.2)
$colorPrimary300: rgba(255,255,255,.3)
$colorPrimary400: rgba(255,255,255,.4)
$colorPrimary500: rgba(255,255,255,.5)
$colorPrimary600: rgba(255,255,255,.6)
$colorPrimary700: rgba(255,255,255,.7)
$colorPrimary800: rgba(255,255,255,.8)
$colorPrimary900: rgba(255,255,255,.9)
$colorPrimary1000: rgba(255,255,255,.96)
// secondary color
$colorSecondary200: rgba(0,0,0,.8)
$colorSecondary300: #272727
$colorSecondary400: #101010
// tertiary color
$colorTertiary100: #09A422
$colorTertiary200: #A717FF
$colorTertiary300: #F73255
// fonts
$mainFont: 'Roboto', sans-serif
// mixin
@mixin transition()
  transition: all 0.4s ease-in-out

@mixin transform()
  transform: translate(-50%, -50%)

@mixin transform-x()
  transform: translateX(-50%)

@mixin transform-y()
  transform: translateY(-50%)

@mixin transform-none()
  transform: translate(0 , 0)