<footer class="layout__footer footer">
  <nav class="footer__nav nav">
    <ul class="nav__list">
      <li class="nav__item nav__item_active">
        <a class="nav__link" href="#">
          <svg class="nav__ico">
            <use xlink:href="img/sprite.svg#navigation__ico01"></use>
          </svg>
          <span class="nav__text">Home</span>
        </a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="#">
          <svg class="nav__ico">
            <use xlink:href="img/sprite.svg#navigation__ico02"></use>
          </svg>
          <span class="nav__text">Tasks</span>
        </a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="#">
          <svg class="nav__ico">
            <use xlink:href="img/sprite.svg#navigation__ico03"></use>
          </svg>
          <span class="nav__text">Friends</span>
        </a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="#">
          <svg class="nav__ico">
            <use xlink:href="img/sprite.svg#navigation__ico04"></use>
          </svg>
          <span class="nav__text">Your Token</span>
        </a>
      </li>
    </ul>
  </nav>
</footer>
