<header class="layout__header header">
  <!-- logo -->
  <div class="header__logo logo">
    <a class="logo__link" href="#">
      <span class="logo__text">Blazarex Crypto</span>
    </a>
  </div>
  <!-- actions -->
  <div class="header__actions actions">
    <ul class="actions__list">
      <li class="actions__item">
        <svg class="actions__ico">
          <use xlink:href="img/sprite.svg#burger"></use>
        </svg>
      </li>
      <li class="actions__item">
        <svg class="actions__ico">
          <use xlink:href="img/sprite.svg#close"></use>
        </svg>
      </li>
    </ul>
  </div>
</header>
