<meta charset="utf-8" />
<title>Blazarex</title>
<meta
  name="viewport"
  content="width=device-width, initial-scale=1 , maximum-scale=1, user-scalable=0"
/>
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<link rel="stylesheet" href="css/main.css" />
<link href="img/favicon.png" rel="shortcut icon" type="image/x-icon" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
  rel="stylesheet"
/>
