<div class="layout__modal modal">
  <!-- // Invite modal  -->
  <div class="modal__layout modal__layout_invite">
    <!-- modal header -->
    <div class="modal__header">
      <div class="modal__title title">
        <h2 class="title__text">Invite a friend</h2>
      </div>
    </div>
    <!-- modal action -->
    <div class="modal__action action">
      <svg class="action__ico">
        <use xlink:href="img/sprite.svg#close"></use>
      </svg>
    </div>
    <!-- modal main -->
    <div class="modal__main">
      <div class="layout__buttons buttons">
        <ul class="buttons__list">
          <li class="buttons__item">
            <a class="btn btn_fourth" href="#">
              <span class="btn__text">Send</span>
            </a>
          </li>
          <li class="buttons__item">
            <a class="btn btn_fourth" href="#">
              <span class="btn__text">Copy link</span>
            </a>
          </li>
          <li class="buttons__item">
            <a class="btn btn_fifty" href="#">
              <span class="btn__text">Close</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
