<div class="layout__notifications notifications">
  <div class="notifications__list">
    <div class="notifications__item notifications__item_primary">
      <svg class="notifications__ico">
        <use xlink:href="img/sprite.svg#check"></use>
      </svg>
      <span class="notifications__text">Daily rewards: +2 💎 +20.000 BP</span>
    </div>
    <div class="notifications__item notifications__item_secondary">
      <svg class="notifications__ico">
        <use xlink:href="img/sprite.svg#check"></use>
      </svg>
      <span class="notifications__text">Daily rewards: +2 💎 +20.000 BP</span>
    </div>
    <div class="notifications__item notifications__item_tertiary">
      <svg class="notifications__ico">
        <use xlink:href="img/sprite.svg#check"></use>
      </svg>
      <span class="notifications__text">Daily rewards: +2 💎 +20.000 BP</span>
    </div>
    <div class="notifications__item notifications__item_fourth">
      <svg class="notifications__ico">
        <use xlink:href="img/sprite.svg#check"></use>
      </svg>
      <span class="notifications__text">Daily rewards: +2 💎 +20.000 BP</span>
    </div>
  </div>
</div>
