<div class="layout__tasks tasks">
  <div class="tasks__header"></div>
  <div class="tasks__main">
    <div class="tasks__list">
      <div class="tasks__item task">
        <div class="task__header">
          <img
            class="media__img"
            data-src="img/content/task/task__img01.jpg"
            src="img/preview.jpg"
            alt="image description"
          />
        </div>
        <div class="task__main">
          <span class="task__title">Follow Blazarex on YouTube</span>
          <span class="task__text">+ 90 BP</span>
        </div>
        <div class="task__footer">
          <a class="btn" href="#">
            <span class="btn__text">Start</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
