// Button
.btn
  color: $colorPrimary1000
  background-color: $colorTertiary200
  font-size: 1rem
  line-height: 1.125rem
  font-weight: 700
  padding: 1rem 1.25rem
  border: 0
  border-radius: .375rem
  gap: .25rem
  display: flex
  justify-content: center
  align-items: center
  cursor: pointer
  outline: none
  text-align: center
  appearance: none
  @include transition
  // button secondary
  &.btn_secondary
    background-color: $colorTertiary100
  // button tertiary
  &.btn_tertiary
    color: $colorPrimary500
    background-color: $colorSecondary300
  // button fourth
  &.btn_fourth
    background-color: $colorSecondary400
  // button fifty
  &.btn_fifty
    background-color: $colorSecondary300
  // btn_layout-secondary
  &.btn_layout-end
    &::before
      content: ""
      width: 1.125rem
    .btn__text,
    .btn__ico
      margin-left: auto
  &.btn_timing
    &::before
      content: ""
      width: 2.5rem
    .btn__text,
    .btn__ico,
    .btn__subtext
      margin-left: auto
  &.btn_tiny
    padding: .5rem 1.25rem
    border-radius: 3rem
    font-size: .75rem
    line-height: 1.125rem

.btn__subtext
  font-size: .625rem
  line-height: .625rem
.btn__text
  display: flex
  align-items: center
  gap: .25rem
.btn__ico
  width: 1.125rem
  height: 1.125rem
  flex-shrink: 0
  &.btn__ico_secondary
    width: .625rem
    height: .625rem

.layout__buttons
  .buttons__list
    gap: 1rem
    display: flex
    flex-direction: column