.layout__content
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  img,
  svg
    &:not(:last-child)
      margin-bottom: 1rem
  ul
    li
      position: relative
      padding-left: .75rem
      &:before
        content: ""
        left: 0
        top: .65rem
        width: .25rem
        height: .25rem
        border-radius: 50%
        background-color: $colorTertiary200
        position: absolute
  ol
    list-style: decimal
    padding-left: 1rem
    li
      margin: 0 0 .5rem
      &::marker
        color: $colorTertiary200
  a
    color: $colorTertiary200