// Form
.form__item
  display: grid
  &.form__item_error
    .form__input
      border-color: $colorTertiary300
    .form__tooltip
      color: $colorTertiary300
  &.form__item_success
    .form__input
      border-color: $colorTertiary100
    .form__tooltip
      color: $colorTertiary100
.form__header
  &:not(:last-child)
    margin-bottom: .75rem
  .form__title
    color: $colorPrimary1000
    font-size: 1rem
    line-height: 1.5rem
    font-weight: 400
    white-space: nowrap
    text-overflow: ellipsis
    overflow: hidden
.form__main
  position: relative
  &:not(:last-child)
    margin-bottom: .5rem
.form__media
  position: absolute
  display: flex
  justify-content: center
  align-items: center
  cursor: pointer
  width: 1rem
  height: 1rem
  top: 0
  .media__ico
    width: .875rem
    height: .875rem
.form__input
  color: $colorPrimary1000
  background-color: $colorSecondary300
  font-size: 1rem
  line-height: 1.125rem
  font-weight: 500
  font-family: $mainFont
  padding: 1rem 1.25rem
  width: 100%
  border-radius: .375rem
  border: 1px solid $colorPrimary200
  margin: 0
  text-overflow: ellipsis
  box-sizing: border-box
  appearance: none
  outline: none
  @include transition
  &::placeholder
    opacity: 1
    color: $colorPrimary300
  &:disabled
    opacity: .5
  &:focus
    border-color: $colorPrimary1000

  // екстареа
  &.form__input_textarea
    width: 100%
    height: 6.875rem
    resize: none
.form__tooltip
  color: $colorPrimary500
  font-size: .75rem
  line-height: 1rem
.form__attach
  position: relative
  display: flex
  justify-content: center
  .attach__media
    width: 6rem
    height: 6rem
    border-radius: 50%
    background-color: $colorTertiary200
    display: flex
    justify-content: center
    align-items: center
    position: relative
    overflow: hidden
    .attach__img
      height: 100%
      width: 100%

    .attach__text
      font-weight: 600
      font-size: 2.25rem
      line-height: 2.25rem
  .attach__action
    top: calc(100% - 1.5rem)
    left: 50%
    position: absolute
    @include transform-x
::-webkit-scrollbar
  width: .25rem
  height: .25rem
::-webkit-scrollbar-track
  background: $colorPrimary100
::-webkit-scrollbar-thumb
  background-color: $colorTertiary200