// Table
table
  border-collapse: collapse
  border-spacing: 0
  border: 0
  width: 100%
  table-layout: fixed
  td,
  th
    text-align: left
    padding: 0.5rem 1.25rem
    @include transition
    @include mediaMinWidthTabletPort
      padding: 1.25rem 1.5rem

  th
    color: $colorSecondary400
    font-weight: 600
    background-color: $colorPrimary1000


