// RESET
html, body, div, span, applet, object, iframe,main,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, button, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font: inherit
  outline: none
  vertical-align: baseline
  box-sizing: border-box

main, article, aside, details, figcaption, figure,
footer, header, menu, nav, section
  display: block

html
  font: 400 4.2666vw/1.125rem $mainFont
  @include mediaMinWidthTabletPort
    font-size: 1.25rem
body
  color: $colorPrimary1000
  background-color: $colorSecondary400
  -webkit-font-smoothing: antialiased
  -webkit-text-size-adjust: none
html,
body
  height: 100vh
  overflow: hidden
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6
  color: $colorPrimary1000
  font-weight: 600

  a
    color: $colorTertiary200
    text-decoration: none
    &:hover
      text-decoration: underline
h1,
.h1
  font-size: 1.625rem
  line-height: 2rem
h2,
.h2
  font-size: 1.25rem
  line-height: 1.5rem
h3,
.h3
  font-size: 1.125rem
  line-height: 1.5rem
h4,
.h4
  font-size: 1rem
  line-height: 1.25rem
h5,
.h5
  font-size: 1rem
  line-height: 1.25rem
h6,
.h6
  font-size: 1rem
  line-height: 1.25rem
img,
svg
  outline: none
  max-width: 100%
  max-height: 100%
  object-fit: cover
  height: auto
a
  color: $colorPrimary1000
  text-decoration: none
strong
  font-weight: 600
ul,
ol
  list-style: none
