// Friends
.layout__friends
  gap: 1rem
  display: grid
  .friends__header
    .friedds__title
      font-size: 1.25rem
      line-height: 1.5rem
      font-weight: 600
  .friends__list
    display: flex
    flex-direction: column
  .friends__item
    gap: 1rem
    margin-bottom: 2.5rem
    display: flex
    align-items: center
    position: relative
    &::after
      content: ""
      position: absolute
      top: calc(100% + 1.25rem)
      left: 4rem
      width: calc(100% - 4rem)
      height: 1px
      background-color: $colorPrimary50
  .friends__media
    width: 3rem
    height: 3rem
    border-radius: 50%
    background-color: $colorSecondary300
    display: flex
    flex-shrink: 0
    justify-content: center
    align-items: center
    text-align: center
    .friends__text
      color: $colorPrimary500
      font-size: 1.125rem
      line-height: 1.25rem
      font-weight: 600
  .friends__main
    gap: .375rem
    display: grid
  .friends__title
    .friends__text
      font-size: 1rem
      line-height: 1.125rem
      font-weight: 600
  .friends__subtitle
    gap: .375rem
    display: flex
    align-items: center
    .friends__ico
      width: 1rem
      height: 1rem
    .friends__text
      color: $colorPrimary700
  .friends__footer
    margin-left: auto
  .friends__count
    font-size: 1rem
    line-height: 1.125rem
    font-weight: 600
    white-space: nowrap
    text-transform: uppercase