// listing
.layout__listing
  gap: 1.5rem
  display: flex
  flex-direction: column
  .listing__header
  .listing__main
  .listing__list
    padding-left: 2rem
    gap: 2rem
    display: flex
    flex-direction: column
    position: relative
    &::before
      content: ""
      position: absolute
      top: .75rem
      left: 1rem
      width: .125rem
      height: calc(100% - 1.5rem)
      background-color: $colorPrimary500
    
  .listing__item
    gap: .25rem
    display: flex
    flex-direction: column
    position: relative
    &::before
      content: ""
      position: absolute
      top: .75rem
      left: -1.25rem
      width: .625rem
      height: .625rem
      border-radius: 50%
      background-color: $colorPrimary1000
  .listing__title
    color: $colorPrimary1000
    font-size: .875rem
    line-height: 1rem
    font-weight: 700
  .listing__text
    color: $colorPrimary700
    font-size: .75rem
    line-height: .875rem
    font-weight: 400