// Loading
.layout__loading
  .loading__list
    gap: 2.5rem
    display: flex
    flex-direction: column
  .loading__item
    gap: .75rem .5rem
    display: grid
    align-items: center
    grid-template-columns: 1.5rem auto 1.25rem
  .loading__header
    width: 1.5rem
    height: 1.5rem
    background-color: $colorSecondary300
    border-radius: .25rem
    display: flex
    justify-content: center
    align-items: center
    .loading__text
      font-size: .875rem
      line-height: 1rem
      font-weight: 500
    .loading__ico
      width: .875rem
      height: .875rem
  .loading__footer
    display: flex
    justify-content: flex-end
    align-items: center
    .loading__ico
      width: 1.125rem
      height: 1.125rem
    .loading__text
      font-size: 1rem
      line-height: 1.25rem
  .loading__media
    grid-column: span 3
    height: .375rem
    border-radius: .375rem
    background-color: $colorSecondary300
    position: relative
    &::before
      content: ""
      position: absolute
      top: 0
      left: 0
      border-radius: .375rem
      height: 100%
      width: 73%
      background-color: $colorTertiary200

























