// Preview
.layout__preview
  gap: 2rem
  display: flex
  flex-direction: column
  align-items: center
  text-align: center
  .preview__media
    width: 12rem
    height: 12rem
  .preview__ico
    width: 100%
    height: 100%
  .preview__main
    color: $colorPrimary800
