// Profile
.layout__profile
  display: flex
  flex-direction: column
  align-items: center
  text-align: center
  .profile__media
    width: 6rem
    height: 6rem
    border-radius: 50%
    background-color: $colorTertiary200
    display: flex
    justify-content: center
    align-items: center
    &:not(:last-child)
      margin-bottom: .75rem
    .media__ico
      width: 2.5rem
      height: 2.5rem
    .media__text
      font-size: 2.25rem
      line-height: 2.25rem
      font-weight: 500
  .profile__title
    &:not(:last-child)
      margin-bottom: 1.5rem

  .profile__count
    gap: .25rem
    display: flex
    align-items: center
    .count__ico
      width: 2.5rem
      height: 2.5rem
      flex-shrink: 0
    .count__text
      color: $colorPrimary1000
      font-size: 2.5rem
      line-height: 2.5rem
      font-weight: 600







