// Referrals
.layout__referrals
  gap: 1.5rem
  display: flex
  flex-direction: column
  .referrals__main
    border-radius: .5rem
    border: 1px solid $colorPrimary50
    padding: 1.5rem
    gap: .75rem
    display: flex
    flex-direction: column
    align-items: center
    .referrals__count
      gap: .25rem
      display: flex
      align-items: center
      .count__ico
        width: 2.5rem
        height: 2.5rem
        flex-shrink: 0
      .count__text
        color: $colorPrimary1000
        font-size: 2.5rem
        line-height: 2.5rem
        font-weight: 600
  .referrals__footer
    font-size: .9375rem
    line-height: 1.25rem
    text-align: center


