// steps
.layout__steps
  .steps__list
    gap: 2rem
    padding-left: 1.75rem
    display: flex
    flex-direction: column
    position: relative
    &::before
      content: ""
      position: absolute
      background-color: $colorSecondary300
      width: .125rem
      left: .75rem
      top: 1rem
      opacity: .5
      height: 100%
  .steps__item
    padding-left: .5rem
    position: relative
    &.steps__item_primary
      &::before
        content: ""
        width: .625rem
        height: .625rem
        border-radius: 50%
        background-color: $colorSecondary300
        position: absolute
        top: 1rem
        left: -1.25rem
    &.steps__item_tertiary
      color: $colorTertiary300
  .steps__media
    width: 1.5rem
    height: 1.5rem
    top: .55rem
    left: -1.7rem
    background-color: $colorSecondary400
    position: absolute
    display: flex
    justify-content: center
    align-items: center
    .steps__ico
      width: 1.25rem
      height: 1.25rem
  .steps__main
    font-size: 1rem
    line-height: 1.25rem
    gap: .375rem
    display: flex
    flex-direction: column
    &.steps__main_secondary
      opacity: .4
  .steps__title
    font-weight: 600
  .steps__text
    font-weight: 400

    

    


