// Tasks
.layout__tasks
  .tasks__list
    gap: 1.5rem
    display: flex
    flex-direction: column
  .tasks__item
    gap: .75rem
    display: grid
    grid-template-columns: 2.25rem auto 4.5rem
    align-items: center
  .tasks__media
    width: 2.25rem
    height: 2.25rem
    display: flex
    align-items: flex-start
  .tasks__ico
    width: 100%
    height: 100%
  .tasks__main
    gap: .25rem
    display: flex
    flex-direction: column
  .tasks__title
    color: $colorPrimary1000
    font-size: .8125rem
    line-height: 1rem
    font-weight: 700
  .tasks__text
    color: $colorPrimary700
    font-size: .75rem
    line-height: .875rem
    font-weight: 600
  .tasks__footer
    .btn
      width: 100%




