// tickets
.layout__tickets
  
  .tickets__list
    gap: .5rem
    display: flex
    flex-direction: column
  .tickets__item
    border-radius: .25rem
    padding: 1rem
    gap: .25rem 1.5rem
    display: grid
    grid-template-columns: auto auto
    position: relative
    &::before
      content: ""
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      border-radius: .25rem
      opacity: .1
      overflow: hidden
      background-image: url("../img/content/tickets/tickets__img01.jpg")
      background-repeat: no-repeat
      background-position: center
      background-size: cover
      z-index: -1
      
  .tickets__media
    grid-column: span 2
    display: flex
    justify-content: center
    .tickets__ico
      width: 2.5rem
      height: 2.5rem
  .tickets__main
    gap: .375rem
    display: flex
    flex-direction: column
  .tickets__title,
  .tickets__subtitle
    font-weight: 500

  .tickets__footer
    display: flex
    align-items: flex-end
    justify-content: flex-end
















